@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-black: #151515;
    --gold: #FFD100;
    --cur-bg: var(--light-black);
    --cur-font-clr: var(--gold);
    --font-Inter: "Inter", Arial, Helvetica, sans-serif;
}

/* 
    ====
    Hero
    ====
*/

.s-hero {
    width: 100%;
    height: calc(100vh + 30px);
    min-height: 786px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.s-hero > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: #000000;
}

.s-home > .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}

.home-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    z-index: 2;
    padding-left: 100px;
    margin-right: 150px;
}

.s-title {
    font-size: 5.6rem;
    font-family: var(--font-Inter);
    font-weight: 600;
    line-height: 90%;

    margin-block: 20px;
    color: var(--cur-font-clr);
    z-index: 3;
}

.btn-container {
    z-index: 2;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.btn {
    z-index: 3;
    width: 230px;

    border: 2px solid var(--gold);
    padding: 0px 3rem;
    margin: 1.5rem 1.5rem 0 0;

    line-height: 3rem;
    font-weight: 400;
    font-family: var(--font-Inter);
    font-size: 0.8rem;
    color: var(--gold);
    text-transform: uppercase;
    text-align: center;
}

/* 
    ====
    Responsive Hero
    ====
*/

@media only screen and (max-width: 1400px) {
    .s-title {
        font-size: 5.2rem;
    }
}

@media only screen and (max-width: 1200px) {
    .s-title {
        font-size: 4.7rem;
    }
}

@media only screen and (max-width: 1000px) {
    .s-title {
        font-size: 4.3rem;
    }
}

@media only screen and (max-width: 800px) {
    .s-title {
        font-size: 4rem;
        line-height: 95%;
    }

    .home-content {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .s-title {
        font-size: 3.8rem;
    }

    .home-content {
        margin-right: 60px;
    }

    .btn {
        width: 300px;
    }
}

@media only screen and (max-width: 500px) {
    .s-title {
        font-size: 3.5rem;
        line-height: 100%;
        text-align: center;
    }

    .home-content {
        padding-left: 0px;
        margin-right: 0px;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 220px;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .s-title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    .s-title {
        font-size: 2.5rem;
    }
}

/*
    ====
    socials next to Hero
    ====
*/
.socials {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 20px;

    position: absolute;
    right: 50px;

    z-index: 2;
    color: var(--gold);
}

.social {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
}

.social-icon {
    border: 2px solid var(--gold);
    border-radius: 50%;
    padding: 5px;
    aspect-ratio: 1;
}

.link-tag {
    font-weight: 400;
    font-family: var(--font-Inter);
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.social:hover .link-tag {
    display: block;
}

/*
    ====
    socials next to Hero - Responsive
    ====
*/

@media only screen and (max-width: 600px) {
    .social:hover .link-tag {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .socials {
        display: none;
    }
}

/*
    ====
    socials next to Hero - Animation
    ====
*/

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(60%, 0, 0) scale(0);
        -ms-transform: translate3d(60%, 0, 0) scale(0);
        transform: translate3d(60%, 0, 0) scale(0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        -ms-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
  }
}

/* 
    ====
    Bottom of Hero
    ====
*/

.bottom-hero {
    bottom: 0px;
    height: 40px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: end;
    z-index: 2;
}

.slider {
    position: absolute;
    height: 6.2rem;
    right: 7.2rem;
    bottom: 0px;
    width: 2px;
    
    background-color: var(--gold);
    z-index: 3;
}

.home-content__scroll {
    font-family: var(--font-Inter);
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #FFFFFF;

    position: absolute;
    right: 8.2rem;
    bottom: 5.4rem;

    display: inline-block;
    text-align: start;
    padding-left: 2.5rem;
}

.home-content__scroll::before {
    border-bottom: 2px solid #ffd100;
    border-right: 2px solid #ffd100;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    left: 1rem;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}